*{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(238, 242, 247);
}
/*Diseño de la parte superior de la pagina*/ 
.sup{
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding-bottom: 10px;
    display: flex;
}.logos{
    display: flex;
    width: 10%;
}.barSearch{
    width: 50%;
    text-align: center;
}.options{
    text-align: center;
    width: 40%;
}.options a{
    text-decoration: none;
    margin-left: 20px;
    border-radius: 2px;
    border-top: 1px solid rgb(0, 102, 255);
}#user-img{
    margin-top: 4px;
    border: 1px solid;
    border-radius: 50%;
    width: 10%;
    cursor: pointer;
    margin-left: 150px;
}#Barra{
    margin-top: 40px;
    border: 1px solid grey;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
    padding-right: 45px;
    width: 55%;
    height: 25px;
    outline: none;
}#boton{
    margin-top: 20px;
    margin-left: -45px;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

/*Diseño de la parte central y de detalles de clientes*/ 
.center{
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
    margin-left: 15%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: black 0px 1px 7px;
    width: 70%;
    padding-bottom: 40px;
}.tittle{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid gray;
    border-radius: 3px;
}.details{
    width: 70%;
}.details input{
    margin-top: 20px;
    border: 1px solid black;
    padding-right: 10px;
    width: 90%;
    height: 30px;
    padding-left: 7px;
    border-radius: 5px;
    outline: none;
}.details input:hover{
    background-color: aliceblue;
}.buttons{
    padding-top: 20px;
    width: 100%;
}.buttons input{
    border: 1px solid grey;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}.buttons input:hover{
    background-color: rgb(57, 177, 207);
}.save{
    background-color: rgb(59, 194, 228);
}.update{
    background-color: rgb(59, 194, 228);
}.going{
    background-color: rgb(59, 189, 228);
}textarea{
    margin-top: 20px;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
}
/*Diseño del modal de las tablas */ 
.tabla-detalles{
    margin-top: 10px;
    border: 1px solid;
    width: 100%;
    margin-bottom: 20px;
}.tabla-detalles tr th{
    padding-left: 10px;
    border: 1px solid;
}.tabla-detalles td{
    padding-left: 10px;
    border: 1px solid;
}